{% extends 'base.html.twig' %}


{% block csrf_token_widget %}
     {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            <h3>{{ message }}</h3>
        </div>
    {% endfor %}
    <br>
    <div class="container containerHeight mb-4">
        <diiv class="row">
            <div class="col-md-3">
            </div>

            <div class="col-md-6">
                <h2>Réservation</h2>
                <br>
                {{form_start (reservation)}}
                    <div class="row">
                        <div class="">
                            {{form_row(reservation.nom)}} 
                        </div>
                    </div>
                    <div class="row">
                        <div class="">
                            {{form_row(reservation.nombreDeConvive)}} 
                        </div>
                    </div>
                    <div class="row">
                        <div class="">
                            {{form_row(reservation.date)}} 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <h6>Réservation á : </h6>
                                <div class="col-md-3 m-0 ">
                                    {{form_row(reservation.heurePrevue)}} 
                                </div>
                                <div class="col-md-3 m-0 ">
                                    {{form_row(reservation.minutePrevue)}} 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="">
                            {{form_row(reservation.mentionDesAllergies)}} 
                        </div>
                    </div>
                {{form_end (reservation)}}
            </div>

            <div class="col-md-3">
            </div>
        </div>
    </div>
{% endblock %}