{% extends 'base.html.twig' %}


{% block csrf_token_widget %}
     {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            <h3>{{ message }}</h3>
        </div>
    {% endfor %}
    <br>
    <div class="container containerHeight mb-4">
        <diiv class="row">
            <div class="col-md-3">
            </div>

            <div class="col-md-6">
                <h2>S´inscrire</h2>
                <br>
                {{form_start (inscription)}}
                    <div class="row">
                        <div class="">
                            {{form_row(inscription.email)}} 
                        </div>
                    </div>
                    <div class="row">
                        <div class="">
                            {{form_row(inscription.password)}} 
                        </div>
                    </div>
                    <div class="row">
                        <div class="">
                            {{form_row(inscription.nombreDeConvives)}} 
                        </div>
                    </div>
                    <div class="row">
                        <div  class="">
                            {{form_row(inscription.allergie)}} 
                        </div>
                    </div>
                    <div  class="row">
                        <div id="mention_allergie_Inscription" class="">
                            {{form_row(inscription.mentionDesAllergies)}} 
                        </div>
                    </div>
                {{form_end (inscription)}}
            </div>

            <div class="col-md-3">
            </div>
        </div>
    </div>
{% endblock %}
